@use "../global" as *;

.c-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(240);
  height: rem(50);
  border: 1px solid #ee819d;
  border-radius: 9999px;
  position: relative;
  font-size: rem(15);
  color: #ee819d;
  transition: 0.3s ease-in-out;
  background: #fff;
}
.c-btn:hover {
  background: #ee819d;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.c-btn__text {
  color: #ee819d;
  font-size: rem(15);
  transition: 0.3s ease-in-out;
}
.c-btn:hover .c-btn__text {
  color: #fff;
  transition: 0.3s ease-in-out;
}
.c-btn__arrow {
  position: absolute;
  right: rem(23);
  width: rem(12);
  height: rem(12);
  top: 50%;
  transform: translateY(-50%);
}
.c-btn__arrow svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  width: rem(12);
  height: rem(12);
  top: 50%;
  transform: translateY(-50%);
}
.c-btn__arrow svg path {
  fill: #ee819d;
  transition: 0.3s ease-in-out;
  
}
.c-btn:hover .c-btn__arrow svg path {
  fill: #fff;
}