@use "../global" as *;

.c-main-title {
  font-weight: 700;
  color: #000000;
  line-height: 1.8;
  font-size: rem(22);
  @include mq(md) {
    font-size: rem(30);
  }
}
.c-main-title span {
  color: #ee819d;
}
