@use "../global" as *;

.c-sub-title {
  font-size: rem(20);
  color: #e77492;
  font-weight: 400;
  position: relative;
  padding-left: rem(30);
  font-weight: 700;
}
.c-sub-title--white {
  color: #fff;
}
.c-sub-title::before {
  position: absolute;
  content: "";
  background: url(../images/common/sakura.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(20);
  height: auto;
  aspect-ratio: 20 / 20;
  object-fit: cover;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.c-sub-title--white::before {
  position: absolute;
  content: "";
  background: url(../images/common/sakura_white.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(20);
  height: auto;
  aspect-ratio: 20/20;
  object-fit: cover;
  top: 50%;
  transform: translateY(-50%);
  left: 0; 
}

.test {
  position: relative;
}
