@use "../global" as *;

.p-about {
  background: #fcf3ef;
  padding-top: rem(50);
  padding-bottom: rem(50);
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}

.p-about__content {
}

.p-about__left {
  width: 100%;
  @include mq(md) {
    max-width: rem(600);
  }
}

.p-about__title {
  margin-top: rem(30);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.p-about__text {
  margin-top: rem(27);
  @include mq(md) {
    margin-top: rem(32);
  }
}

.p-about__row {
  @include mq(md) {
    display: flex;
    gap: rem(50);
  }
}
.p-about__block {
  margin-top: rem(48);
  @include mq(md) {
    display: flex;
    gap: rem(50);
    margin-top: rem(80);
  }
}
.p-about__people {
  width: 100%;
  margin-top: rem(28);
  @include mq(md) {
    margin-top: initial;
    margin-right: rem(-93);
    max-width: rem(630);
  }
}
.p-about__people img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-about__block-left {
  max-width: rem(610);
  width: 100%;
}

.p-about__white {
  border: 1px solid #cccccc;
  background: #fff;
  padding: rem(18) rem(20);
  display: flex;
  flex-direction: column;
  gap: rem(20);
  margin-top: rem(32);
  @include mq(md) {
    padding: rem(28) rem(23);
    flex-direction: row;
    align-items: center;
    margin-top: rem(37);
    gap: rem(35);
  }
}

.p-about__white-detail {
}

.p-about__white-title {
  font-size: rem(18);
  font-weight: 700;
  color: #000;
}

.p-about__white-text {
  margin-top: rem(15);
  @include mq(md) {
    margin-top: rem(19);
  }
}

.p-about__mapBtn-wrapper {
  flex: 1;
  width: 100%;
  margin-left: auto;
}

.p-about__mapBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(180);
  height: rem(50);
  border: 1px solid #ee819d;
  border-radius: 9999px;
  font-size: rem(15);
  color: #ee819d;
  transition: 0.3s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    margin-left: initial;
    margin-right: initial;
  }
}

.p-about__mapBtn:hover {
  background: #ee819d;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.p-about__map {
  width: 100%;
  margin-top: rem(30);
  @include mq(md) {
    margin-top: initial;
    flex: 1;
  }
}
.p-about__map img {
  width: 100%;
  height: auto;
  aspect-ratio: 580 / 400;
  object-fit: cover;
}
.p-about__btn-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: rem(10);
  margin-top: rem(40);
  @include mq(md) {
    justify-content: initial;
    flex-direction: row;
    gap: rem(31);
    margin-top: rem(60);
  }
}
.p-about__btn-wrapper .c-btn {
  margin-inline: auto;
  @include mq(md) {
    margin-inline: initial;
  }
}