@use "../global" as *;

.p-breadcrumbs {
  padding-top: rem(11);
  @include mq(md) {
    padding-top: rem(20);
  }
}

.p-breadcrumbs__content {
}

.p-breadcrumbs__lists {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: rem(10);
}

.p-breadcrumbs__list {
  color: #000;
  font-weight: 400;
  font-size: rem(12);
  @include mq(md) {
    font-size: rem(14);
  }
}

.p-breadcrumbs__link {
  color: #000;
  font-weight: 400;
  font-size: rem(12);
  @include mq(md) {
    font-size: rem(14);
  }
}

.p-breadcrumbs__icon {
  display: inline-block;
  width: rem(6);
  height: rem(10);
}
.p-breadcrumbs__icon svg {
}
