@use "../global" as *;

.p-footer {
  background: #fcf3ef;
  padding-top: rem(40);
  padding-bottom: rem(64);
  @include mq(md) {
    padding-top: rem(52);
    padding-bottom: rem(50);
  }
}

.p-footer__content {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
  }
}

.p-footer__left {
}

.p-footer__logo {
  text-align: center;
  @include mq(md) {
    text-align: initial;
  }
}

.p-footer__home {
  display: inline-block;
  width: rem(239);
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    margin-left: initial;
    margin-right: initial;
    width: rem(311);
  }
}
.p-footer__home img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-footer__address {
  margin-top: rem(20);
  @include mq(md) {
    margin-top: rem(26);
  }
}

.p-footer__address-text {
  color: #333333;
  font-size: rem(15);
  font-weight: 400;
  line-height: 1.7;
}
.p-footer__address-text a {
  color: #3366cc;
}
.p-footer__small {
  text-align: center;
  margin-top: rem(30);
  @include mq(md) {
    text-align: initial;
    margin-top: rem(55);
  }
}
.p-footer__small small {
  color: #333333;
  font-weight: 400;
  line-height: 1.7;
  font-size: rem(13);
  @include mq(md) {
    font-size: rem(14);
  }
}

.p-footer__right {
  display: none;
  @include mq(md) {
    display: block;
    margin-left: auto;
  }
}

.p-footer__lists {
  display: flex;
  gap: rem(60);
}

.p-footer__list {
}

.p-footer__link {
  display: block;
  color: #333;
  font-size: rem(15);
  font-weight: 400;
}
.p-footer__link + .p-footer__link {
  margin-top: rem(15);
}
.p-footer__subLists {
  margin-top: rem(10);
}

.p-footer__subList {
}

.p-footer__subLink {
  font-size: rem(15);
  color: #333;
  font-weight: 400;
  line-height: calc(33 / 15);
  position: relative;
  padding-left: rem(17);
}
.p-footer__subLink::before {
  position: absolute;
  content: "";
  background: #000;
  width: rem(10);
  height: 1px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.p-footer__contact-sp {
  text-align: center;
  margin-top: rem(32);
  position: fixed;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0.3s ease-in-out;
  @include mq(md) {
    display: none;
  }
}
.p-footer__contact-sp.is-visible {
  opacity: 1;
  visibility: visible;
}

.p-footer__contact-link {
  background: #ee819d;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(6);
  height: rem(50);
}

.p-footer__contact-link-icon {
  width: rem(16);
  height: rem(12);
}

.p-footer__contact-link-text {
  color: #fff;
  font-size: rem(15);
  font-weight: 400;
}
.p-footer__link--pointerNon {
  pointer-events: none;
}