@use "../global" as *;

.p-header {
  background: #fcf3ef;
  height: rem(70);
  position: fixed;
  width: 100%;
  z-index: 9999;
  @include mq(md) {
    position: static;
    height: initial;
    padding-top: rem(27);
    padding-bottom: rem(30);
  }
}

.p-header__content {
  display: flex;
  height: rem(70);
  align-items: center;
  @include mq(md) {
    justify-content: space-between;
    height: initial;
    align-items: initial;
  }
}

.p-header__logo {
}

.p-header__home {
  display: inline-block;
  width: rem(180);
  @include mq(md) {
    width: rem(310);
  }
}
.p-header__home img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.p-header__nav {
  display: none;
  @include mq(md) {
    display: block;
  }
}

.p-header__nav-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: rem(13);
}

.p-header__nav-text {
  font-size: rem(13);
  color: #000;
  font-weight: 400;
}

.p-header__nav-btn {
  display: flex;
  align-items: center;
  gap: rem(4);
}

.p-header__nav-icon {
  width: rem(30);
  @include mq(md) {
    width: rem(24);
  }
}
.p-header__nav-icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-header__nav-tel {
  font-size: rem(28);
  font-weight: 700;
  color: #000;
}

.p-header__lists {
  display: none;
  @include mq(md) {
    margin-top: rem(20);
    display: flex;
    gap: rem(39);
    align-items: center;
  }
}

.p-header__list {
}

.p-header__link {
  display: block;
  color: #010101;
  font-size: rem(15);
  font-weight: 400;
}

.p-header__page-lists {
  display: none;
  @include mq(md) {
    margin-top: rem(28);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
  }
}

.p-header__page-list {
}

.p-header__page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(9);
  border-right: 1px solid #000;
}

.p-header__page-icon {
  width: rem(20);
}

.p-header__page-text {
  font-size: rem(15);
  color: #000;
  font-weight: 400;
}
.p-header__sp-tel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: rem(20);
  @include mq(md) {
    display: none;
  }
}

.p-header__sp-tel-link {
  display: inline-block;
  width: rem(30);
  height: rem(30);
}
