@use "../global" as *;

.p-inheritance {
  padding-top: rem(66);
  padding-bottom: rem(48);
  @include mq(md) {
    padding-top: rem(120);
    padding-bottom: rem(100);
  }
}

.p-inheritance__container {
  display: flex;
  flex-direction: column;
  gap: rem(80);

  @include mq("md") {
    flex-direction: row;
    gap: rem(65);
  }
}

.p-inheritance__main {
  flex: 1;
  @include mq("md") {
    max-width: calc(100% - 320px);
  }
}

.p-inheritance__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  @include mq(md) {
    align-items: center;
    gap: rem(50);
    flex-direction: row;
  }
}
.p-inheritance__detail {
  width: 100%;
  @include mq(md) {
    max-width: rem(400);
  }
}

.p-inheritance__text-wrapper {
  margin-top: rem(30);
  @include mq(md) {
    margin-top: rem(40);
  }
}
.mt0 {
  margin-top: initial;
}
.mt56 {
  margin-top: rem(56);
}
.p-inheritance__text {
  line-height: 1.8;
  color: #000;
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(17);
  }
}
.p-inheritance__text + .p-inheritance__text {
  margin-top: rem(28);
  @include mq(md) {
    margin-top: rem(37);
  }
}
.p-inheritance__text--bold {
  font-weight: 700;
}
.p-inheritance__text--attention {
  font-weight: 700;
  background: linear-gradient(transparent 60%, #fff0b2 60%);
}

.p-inheritance__illustration {
  margin-top: rem(40);
  width: 100%;
  @include mq(md) {
    margin-top: initial;
    max-width: rem(390);
  }
}
.p-inheritance__illustration img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-inheritance__example {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(60);
  }
}

.p-inheritance__example-box {
  margin-top: rem(30);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.p-inheritance__example-list {
  list-style: none;
  counter-reset: item;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: rem(12);
  background: #fff8eb;
  border: 1px solid #f59b5f;
  padding: rem(26);
  @include mq(md) {
    padding-top: rem(20);
    padding-bottom: rem(20);
    padding-left: rem(33);
    padding-right: rem(27);
    grid-template-columns: repeat(2, 1fr);
  }
}

.p-inheritance__example-item {
  position: relative;
  padding-left: rem(20);
  line-height: 2;
  color: #000;
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(17);
  }

  &::before {
    position: absolute;
    left: 0;
    font-weight: 700;
  }
}

// 左側リスト：1, 3, 5
.p-inheritance__example-list--left .p-inheritance__example-item {
  counter-increment: item 1;

  &:first-child {
    counter-increment: item 1;
  }

  &::before {
    content: counter(item) ". ";
    color: #000;
    font-size: rem(17);
    font-weight: 400;
  }
}

// 右側リスト：2, 4, 6
.p-inheritance__example-list--right .p-inheritance__example-item {
  counter-increment: item 2;

  &:first-child {
    counter-increment: item 2;
  }

  &::before {
    content: counter(item) ". ";
    color: #00bcd4;
  }
}
.p-inheritance__attention-text {
  margin-top: rem(30);
  @include mq(md) {
    margin-top: rem(40);
  }
}
.p-inheritance__number {
}

.p-inheritance__number-lists {
}

.p-inheritance__number-list {
  display: flex;
  align-items: center;
  padding-top: rem(16);
  padding-bottom: rem(16);
  border-bottom: 1px solid #ccc;
  gap: rem(8);
  font-size: rem(17);
  line-height: 2;
  color: #000;
  counter-increment: item 1;

  &:first-child {
    counter-increment: item 1;
    padding-top: initial;
  }
  &:last-child {
    padding-bottom: initial;
    border-bottom: initial;
  }

  &::before {
    content: counter(item) "";
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(12);
    background: #ee819d;
    width: rem(20);
    height: rem(20);
    border-radius: 9999px;
  }
}

.p-inheritance__number-list span {
  font-weight: 700;
}
.mt87 {
  margin-top: rem(54);
  @include mq(md) {
    margin-top: rem(87);
  }
}
.p-inheritance__number {
  background: #fff8eb;
  border: 1px solid #f59b5f;
  margin-top: rem(30);
  padding: rem(26);
  @include mq(md) {
    padding-left: rem(30);
    padding-right: rem(30);
    padding-top: rem(16);
    padding-bottom: rem(16);
    margin-top: rem(40);
  }
}

.p-inheritance__number-lists {
}

.p-inheritance__number-list {
}
.p-inheritance__bubble {
  display: flex;
  gap: rem(20);
  margin-top: rem(48);
  @include mq(md) {
    margin-top: rem(80);
    gap: rem(30);
  }
}

.p-inheritance__bubble-left {
  width: rem(60);
  @include mq(md) {
    width: rem(80);
  }
}

.p-inheritance__bubble-img {
}
.p-inheritance__bubble-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-inheritance__bubble-text {
  font-size: rem(12);
  text-align: center;
  margin-top: rem(8);
  color: #000;
}

.p-inheritance__right {
  flex: 1;
  background: #fdedf1;
  border: 1px solid #ee819d;
  border-radius: rem(12);
  position: relative;
  padding: rem(18);
  @include mq(md) {
    padding-top: rem(21);
    padding-left: rem(21);
    padding-right: rem(21);
    padding-bottom: rem(16);
  }
}
.p-inheritance__right::before {
  position: absolute;
  content: "";
  background: url(../images/common/bubble_triangle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(14);
  height: rem(18);
  top: rem(20);
  left: rem(-14);
  z-index: 1;
}
.p-inheritance__right-bubbleText {
  line-height: 1.8;
  color: #000;
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(17);
  }
}
.p-inheritance__right-bubbleText span {
  font-weight: 700;
  color: #cc0000;
}
.p-inheritance__btn-wrapper {
  margin-top: rem(50);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.p-inheritance__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: rem(50);
  border: 1px solid #ee819d;
  position: relative;
  border-radius: rem(12);
  background: #fff;
  color: #e77492;
  border: 1px solid #e77492;
  border-radius: 9999px;
  font-size: rem(15);
}
.p-inheritance__btn::before {
  position: absolute;
  content: "";
  background: url(../images/common/btn_arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(12);
  height: rem(12);
  top: 50%;
  transform: translateY(-50%);
  right: rem(15);
}
.p-inheritance__flow {
  margin-top: rem(62);
}

.p-inheritance__flow-lists {
  counter-reset: flow-counter;
}

.p-inheritance__flow-list {
  counter-increment: flow-counter;
  position: relative;
  padding-left: rem(56);
}
.p-inheritance__flow-list::before {
  position: absolute;
  content: "";
  background: #fff;
  border: 5px solid #ee819d;
  width: rem(20);
  height: rem(20);
  border-radius: 9999px;
  margin-top: rem(4);
  left: 0;
}
.p-inheritance__flow-list:first-child::before,
.p-inheritance__flow-list:last-child::before {
  position: absolute;
  content: "";
  background: #fff;
  border: 5px solid #a0ce9c;
  width: rem(20);
  height: rem(20);
  border-radius: 9999px;
  margin-top: rem(4);
  left: 0;
}
.p-inheritance__flow-list::after {
  position: absolute;
  content: "";
  background: #cccccc;
  width: rem(3);
  height: 100%;
  top: rem(6);
  left: rem(8);
  z-index: -1;
}
.p-inheritance__flow-list:last-child::after {
  height: 25%;
}
.p-inheritance__flow-list + .p-inheritance__flow-list {
  padding-top: rem(20);
}

.p-inheritance__flow-listTitle {
  position: relative;
  padding-left: rem(24);
  color: #000;
  font-size: rem(18);
  font-weight: 700;
}

.p-inheritance__flow-listTitle::before {
  position: absolute;
  content: counter(flow-counter) ". ";
  left: 0;
  font-size: rem(18);
  font-weight: 700;
  color: #000;
}

.p-inheritance__flow-listText {
  font-size: rem(17);
  color: #000;
  line-height: 1.8;
  margin-top: rem(20);
  padding-left: rem(24);
}
.p-inheritance__flow-listText-link {
  color: #3366cc;
  font-weight: 700;
}
.p-inheritance__flow-listText--bold {
  font-weight: 700;
}
.p-inheritance__flow-box {
  margin-top: rem(20);
  background-color: #fff8eb;
  border: 1px solid #f59b5f;
  padding-top: rem(30);
  padding-bottom: rem(30);
  text-align: center;
  margin-left: rem(24);
}

.p-inheritance__flow-boxText {
  font-size: rem(17);
  color: #000;
  line-height: 1.8;
  font-weight: 700;
}

.p-inheritance__flow-boxText--red {
  color: #cc0000;
  font-weight: 700;
}
.p-inheritance__flow-boxAttention {
  margin-top: rem(20);
  font-weight: 700;
  color: #cc0000;
  font-size: rem(17);
  line-height: 1.8;
  padding-left: rem(24);
}
.p-inheritance__onlyBox {
  margin-top: rem(38);
  background: #fff8eb;
  border: 1px solid #f59b5f;
  padding-top: rem(30);
  padding-left: rem(30);
  padding-bottom: rem(27);
  padding-right: rem(24);
}

.p-inheritance__onlyBox-title {
  font-weight: 700;
  color: #cc0000;
  font-size: rem(18);
}

.p-inheritance__onlyBox-lists {
  margin-top: rem(20);
  counter-reset: item;
  list-style: none;
  padding-left: rem(16);
}

.p-inheritance__onlyBox-list {
  position: relative;
  font-size: rem(17);
  line-height: 1.8;
  color: #000;
  padding-left: rem(24);
  counter-increment: item;

  &::before {
    position: absolute;
    content: counter(item) ". ";
    left: 0;
    color: #000;
    font-weight: 400;
  }
}
.p-inheritance__onlyBox-list + .p-inheritance__onlyBox-list {
  margin-top: rem(16);
}
.p-inheritance__onlyBox-list--red {
  color: #cc0000;
  font-weight: 700;
}
.p-inheritance__smallAttention {
  font-size: rem(14);
  font-weight: 400;
  line-height: 1.8;
  color: #cc0000;
  margin-top: rem(40);
}

.p-inheritance__onlyBox-list--bold {
  font-weight: 700;
}

.p-inheritance__table {
  margin-top: rem(40);
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ee819d;
}

.p-inheritance__table-head {
  background: #ee819d;
}

.p-inheritance__table-headCell {
  padding: rem(13);
  font-size: rem(16);
  font-weight: 700;
  color: #fff;
  text-align: left;
  border: 1px solid #ccc;
  width: 25%;
}

.p-inheritance__table-body {
}

.p-inheritance__table-cell {
  padding: rem(13);
  font-size: rem(16);
  color: #000;
  border: 1px solid #ccc;
}
.p-inheritance__table-cell--bold {
  font-weight: 700;
}
.p-inheritance__table-cell--bg {
  background: #fdedf1;
}

.p-inheritance__detailTable {
  margin-top: rem(40);
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ee819d;
}

.p-inheritance__detailTable-head {
  background: #ee819d;
  font-size: rem(16);
  font-weight: 700;
  color: #fff;
  text-align: left;
  padding: rem(13);
  border: 1px solid #ccc;
  width: 24%;
}

.p-inheritance__detailTable-cell {
  padding: rem(13);
  font-size: rem(15);
  color: #000;
  border: 1px solid #ccc;
  vertical-align: top;
}

.p-inheritance__detailTable-title {
  font-size: rem(16);
  font-weight: 700;
  color: #000;
}

.p-inheritance__detailTable-list {
  list-style: disc;
  padding-left: rem(19);
}
.p-inheritance__detailTable-text {
  font-size: rem(16);
  line-height: 1.8;
  color: #000;
}

.p-inheritance__detailTable-listItem {
  font-size: rem(16);
  line-height: 1.8;
  color: #000;
}

.p-inheritance__fast {
  margin-top: rem(60);
}

.p-inheritance__fast-title {
  font-size: rem(18);
  font-weight: 700;
  color: #000;
  margin-bottom: rem(20);
}

.p-inheritance__fast-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.p-inheritance__fast-tableHead {
  background: #ee819d;
}

.p-inheritance__fast-tableHeadCell {
  padding: rem(13);
  font-size: rem(16);
  width: 33.33333333333333%;
  font-weight: 700;
  color: #fff;
  border: 1px solid #ccc;
  text-align: left;
}

.p-inheritance__fast-tableBody {
}

.p-inheritance__fast-tableCell {
  padding: rem(13);
  font-size: rem(16);
  color: #000;
  border: 1px solid #ccc;
}
.fw700 {
  font-weight: 700;
}
.bg-pink {
  background: #fdedf1;
}
.p-inheritance__sample {
  margin-top: rem(40);
}

.p-inheritance__sample-box {
  margin-top: rem(40);
  background: #fbfbfb;
  border: 1px solid #ccc;
  padding-top: rem(80);
  padding-bottom: rem(77);
  padding-left: rem(115);
  padding-right: rem(115);
}

.p-inheritance__sampleTitle {
  text-align: center;
  font-weight: 700;
  color: #000;
  font-size: rem(25);
}

.p-inheritance__sampleTop {
  margin-top: rem(60);
}

.p-inheritance__sampleText {
  font-size: rem(17);
  line-height: 1.8;
  color: #000;
}

.p-inheritance__sampleBlock-wrapper {
  margin-top: rem(60);
}

.p-inheritance__sampleBlock {
}
.p-inheritance__sampleBlock + .p-inheritance__sampleBlock {
  margin-top: rem(60);
}
.p-inheritance__sampleBlockTitle {
  font-size: rem(18);
  font-weight: 700;
  color: #000;
}

.p-inheritance__sampleLists {
  margin-top: rem(27);
  counter-reset: sample-counter;
  list-style: none;
  padding-left: 0;
}

.p-inheritance__sampleList {
  position: relative;
  font-size: rem(17);
  line-height: 1.8;
  color: #000;
  padding-left: rem(30);
  counter-increment: sample-counter;

  &::before {
    position: absolute;
    content: counter(sample-counter) ". ";
    left: 0;
    color: #000;
    font-weight: 400;
  }

  + .p-inheritance__sampleList {
    margin-top: rem(10);
  }
}

.p-inheritance__sampleBottom {
  margin-top: rem(56);
  text-align: right;
}
.mt29 {
  margin-top: rem(29);
}
