@use "../global" as *;

.p-link {
  background: #fcf3ef;
  padding-top: rem(50);
  padding-bottom: rem(50);
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(100);
  }
}

.p-link__content {
  display: flex;
  flex-direction: column;
  gap: rem(32);
  @include mq(md) {
    gap: rem(113);
    flex-direction: row;
  }
}

.p-link__title-wrapper {
}

.p-link__title {
  color: #010101;
  font-weight: 700;
  margin-top: rem(30);
  font-size: rem(22);
  @include mq(md) {
    margin-top: rem(16);
    font-size: rem(30);
  }
}

.p-link__cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(15);
  @include mq(md) {
    gap: rem(20);
    grid-template-columns: repeat(3, 1fr);
    flex: 1;
  }
}

.p-link__link {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
  border-radius: rem(10);
  padding-left: rem(15);
  padding-right: rem(15);
  background: #fff;
  display: flex;
  align-items: center;
  max-width: rem(300);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: rem(90);
  gap: rem(15);
  @include mq(md) {
    margin-left: initial;
    margin-right: initial;
    max-width: initial;
  }
}


.p-link__img {
  max-width: rem(60);
  min-width: rem(60);
}
.p-link__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-link__detail {
}

.p-link__detail-small {
  color: #010101;
  font-size: rem(14);
  font-weight: 400;
}

.p-link__detail-title {
  font-size: rem(20);
  color: #010101;
  font-weight: 700;
  margin-top: rem(8);
}
