@use "../global" as *;

.p-mv {
  background: #fff;
  padding-top: rem(90);
  padding-bottom: rem(20);
  overflow-x: clip;
  @include mq(md) {
    padding-top: rem(40);
    padding-bottom: rem(40);
  }
}

.p-mv__content {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
}

.slider-main {
}

.swiper-wrapper {
}

.p-mv .swiper-slide {
}

.p-mv__slide__link {
}

.p-mv__img {
}
.p-mv__img img {
  aspect-ratio: 580 / 400;
  object-fit: cover;
  width: 100%;
  height: auto;
}
/* Swiper自体は見せる */
.p-mv .swiper {
  overflow: visible;
}

/* 画像単体は切る（角丸・はみ出し防止） */
.p-mv__img {
  overflow: hidden;
  border-radius: rem(16); // 必要なら
}
.p-mv .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(5);
  @include mq(md) {
    gap: rem(20);
  }
}
.p-mv .swiper-slide {
  /* width: auto  !important;
  flex-shrink: 0 !important;
  box-sizing: border-box; */
}
.p-mv .swiper-slide-prev,
.p-mv .swiper-slide-next {
  opacity: 0.5;
}
.swiper-button-prev {
}

.swiper-button-next {
}

.p-mv .swiper-pagination {
  margin-top: rem(10);
  @include mq(md) {
    margin-top: rem(28);
  }
}
.p-mv .swiper-pagination-bullet {
  background: #fff;
  opacity: 1;
  border: 1px solid #9e9e9e;
  width: rem(10);
  height: rem(10);
  @include mq(md) {
    width: rem(14);
    height: rem(14);
  }
}
.p-mv .swiper-pagination-bullet-active {
  background: #ee819d;
  border: 1px solid #ee819d;
}
/* Swiper自体は見せる */
.p-mv .swiper {
  overflow: visible;
}

/* 画像単体は切る（角丸・はみ出し防止） */
.p-mv__img {
  overflow: hidden;
  border-radius: rem(16); // 必要なら
}
