@use "../global" as *;

.p-news {
}

.p-news__link {
  display: block;
  padding-top: rem(16);
  padding-bottom: rem(16);
  border-top: 1px solid #cccccc;
}
.p-news__link:last-child {
  border-bottom: 1px solid #cccccc;
}

.p-news__category-wrapper {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  @include mq(md) {
    gap: rem(16);
    align-items: center;
    flex-direction: row;
  }
}

.p-news__time {
  color: #000;
  font-weight: 400;
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(17);
  }
}

.p-news__category {
  color: #fff;
  background: #ee819d;
  padding: rem(5) rem(10);
  font-size: rem(10);
  line-height: 1;
  width: fit-content;
}

.p-news__content {
  margin-top: rem(12);
  @include mq(md) {
    margin-top: rem(20);
  }
}

.p-news__title {
  color: #000;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: rem(12);
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(17);
  }
}

.p-news__new {
  display: inline-block;
  color: #e74c3c;
  font-size: rem(14);
  font-weight: 700;
  flex-shrink: 0;
}
