@use "../global" as *;

.p-page-mv {
  padding-top: rem(70);
  @include mq(md) {
    padding-top: initial;
  }
}

.p-page-mv__content {
  position: relative;
}

.p-page-mv__img {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: 100vw;
}
.p-page-mv__img img {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 380 / 100;

  @include mq(md) {
    aspect-ratio: 1500 / 150;
  }
}

.p-page-mv__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  color: #fff;
  font-weight: 700;
  font-size: rem(22);
  @include mq(md) {
    font-size: rem(30);
  }
}
