@use "../global" as *;

.p-price {
  flex: 1;
}

.p-price__content {
}
.p-price__content + .p-price__content {
  margin-top: rem(55);
  @include mq(md) {
    margin-top: rem(88);
  }
}
.p-price__block {
  margin-top: rem(30);
  @include mq(md) {
    margin-top: rem(60);
  }
}

.p-price__block + .p-price__block {
  margin-top: rem(35);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.p-price__table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 1px;
  margin-top: rem(30);
  border: 1px solid #ccc;
  @include mq(md) {
    margin-top: rem(40);
  }
}

.p-price__table thead {
  background: #ee819d;
}

.p-price__table th {
  padding: rem(13);
  font-weight: 700;
  color: #fff;
  border: 1px solid #ccc;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(16);
  }
}

.p-price__table th:first-child,
.p-price__table th:nth-child(2),
.p-price__table th:nth-child(3) {
  width: 33.33333333333333%;
  text-align: left;
}

.p-price__table tbody tr {
  background: #fff;
}

.p-price__table tbody tr:nth-child(even) {
  background: #f9f9f9;
}

.p-price__table td {
  padding: rem(10);
  color: #000;
  vertical-align: middle;
  background: #fdedf1;
  font-weight: 700;
  line-height: 1.8;
  /* border-bottom: 1px solid #ccc; */
  border: 1px solid #ccc;
  font-size: rem(14);
  @include mq(md) {
    font-size: rem(16);
    padding: rem(13);
    border: 1px solid #ccc;
  }
}
.border-bottom-none {
  border-bottom: none;
  @include mq(md) {
    border-bottom: 1px solid #ccc;
  }
}
.p-price__table td:nth-child(2),
.p-price__table td:nth-child(3) {
  background: #fff;
}
.p-price__table td:nth-child(2) {
  font-weight: 400;
}
.p-price__table td:first-child {
  text-align: left;
}
.p-price__table--half th:first-child {
  @include mq(md) {
    width: 24%;
  }
}
.p-price__table--half th:nth-child(2) {
  @include mq(md) {
    width: 76%;
  }
}

.p-price__table--half td:first-child {
  @include mq(md) {
    width: 24%;
    vertical-align: initial;
  }
}
.p-price__table--half td:nth-child(2) {
  @include mq(md) {
    width: 76%;
  }
}
.p-price__table--half td {
  display: block;
  @include mq(md) {
    display: table-cell;
  }
}
.fw700 {
  font-weight: 700 !important;
}
.p-price__block-yellow {
  display: flex;
  gap: rem(20);
  background: #fff8eb;
  border: 1px solid #f59b5f;
  padding: rem(20);
  margin-top: rem(30);
  @include mq(md) {
    padding-top: rem(24);
    padding-bottom: rem(21);
    padding-right: rem(24);
    padding-left: rem(26);
    margin-top: rem(40);
  }
}

.p-price__block-yellowIcon {
  min-width: rem(32);
  min-height: rem(32);
  max-width: rem(32);
  max-height: rem(32);
  margin-top: rem(8);
}
.p-price__block-yellowIcon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-price__block-yellowText {
  line-height: 1.8;
  color: #000;
  font-size: rem(15);
  @include mq(md) {
    font-size: rem(16);
  }
}
.p-price__link {
  color: #3366cc;
}
.p-price__text-wrapper {
  margin-top: rem(30);
  @include mq(md) {
    margin-top: rem(40);
  }
}
.p-price__text {
  font-size: rem(16);
  line-height: 1.8;
  color: #000;
}
.p-price__map {
  margin-top: rem(30);
  @include mq(md) {
    margin-top: rem(37);
  }
}
.p-price__map iframe {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 340 / 450;
  @include mq(md) {
    aspect-ratio: 830 / 450;
  }
}
.p-price__btn-wrapper {
  margin-top: rem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    margin-top: rem(60);
  }
}

.p-price__btn {
  width: rem(240);
  height: rem(50);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #e77492;
  border-radius: 9999px;
  transition: 0.3s ease-in-out;
}
.p-price__btn:hover {
  background: #ee819d;
}

.p-price__btn-text {
  color: #e77492;
  font-size: rem(16);
  transition: 0.3s ease-in-out;
  font-weight: 400;
}
.p-price__btn:hover .p-price__btn-text {
  color: #fff;
}

.p-price__btn-icon {
  position: absolute;
  right: rem(15);
  width: rem(12);
  height: rem(12);
  top: 50%;
  transform: translateY(-50%);
}
.p-price__btn-icon svg {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-price__btn-icon svg path {
  transition: 0.3s ease-in-out;
}
.p-price__btn:hover .p-price__btn-icon svg path {
  fill: #fff;
}
.p-price__profile {
  max-width: rem(170);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: rem(37);
  @include mq(md) {
    max-width: rem(260);
    margin-top: rem(48);
  }
}
.p-price__profile img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-price__list-item {
  position: relative;
  padding-left: rem(24);
  font-size: rem(17);
  color: #000;
  line-height: 1.8;
}
.p-price__list-item::before {
  position: absolute;
  content: "";
  background: #000;
  width: rem(7);
  height: rem(7);
  top: rem(12);
  left: rem(8);
  border-radius: 9999px;
}
.p-price__dl {
}

.p-price__dlRow {
  @include mq(md) {
    display: flex;
  }
}
.p-price__dlRow + .p-price__dlRow {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(28);
  }
}
.p-price__dt {
  line-height: 1.8;
  color: #000;
  font-size: rem(16);
  @include mq(md) {
    width: rem(160);
    font-size: rem(17);
  }
}

.p-price__dd {
  margin-top: rem(6);
  @include mq(md) {
    flex: 1;
    margin-top: initial;
  }
}

.p-price__dd-text {
  line-height: 1.8;
  color: #000;
  position: relative;
  font-size: rem(16);
  padding-left: rem(24);
  @include mq(md) {
    padding-left: rem(18);
    font-size: rem(17);
  }
}

.p-price__dd-text::before {
  position: absolute;
  content: "";
  background: #000;
  width: rem(7);
  height: rem(7);
  top: rem(12);
  left: rem(8);
  border-radius: 9999px;
}
.p-price__table--separate th,
.p-price__table--separate td {
  width: 50%;
}
