@use "../global" as *;

.p-sidebar {
  width: 100%;
  @include mq("md") {
    width: rem(300);
    flex-shrink: 0;
  }
}

.p-sidebar__menu {
  background-color: $white;
  overflow: hidden;
}
.p-sidebar__title {
  background: #ee819d;
  color: #fff;
  position: relative;
  font-size: rem(15);
  font-weight: 700;
  padding-left: rem(35);
  padding-top: rem(10);
  padding-bottom: rem(10);
}
.p-sidebar__title::before {
  position: absolute;
  content: "";
  background: url(../images/common/sidebar_flower.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(16);
  height: rem(16);
  top: 50%;
  transform: translateY(-50%);
  left: rem(15);
}

.p-sidebar__menu-title {
  background-color: #e8accf;
  color: $white;
  font-size: rem(16);
  font-weight: $bold;
  padding: rem(15) rem(20);
  margin: 0;
  text-align: center;

  @include mq("md") {
    font-size: rem(18);
    padding: rem(13) rem(20);
  }
}

.p-sidebar__menu-list {
  padding: 0;
  margin: 0;
  margin-top: rem(15);
  border: 1px solid #cccccc;
}

.p-sidebar__menu-link {
  display: block;
  padding: rem(12) rem(20);
  font-size: rem(15);
  color: $black;
  text-decoration: none;
  transition: background-color 0.3s ease;
  position: relative;
  border-bottom: 1px solid #cccccc;

  @include mq("md") {
    font-size: rem(15);
    padding: rem(13) rem(20);
  }

  &:hover {
    background-color: #f9f9f9;
  }
}
.p-sidebar__menu-item:last-child .p-sidebar__menu-link {
  border-bottom: initial;
}
.p-sidebar__menu-link::before {
  position: absolute;
  content: "";
  background: url(../images/common/sidebar_arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(12);
  height: rem(12);
  top: 50%;
  transform: translateY(-50%);
  right: rem(16);
}
.p-sidebar__menu-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-top: rem(12);
  padding-bottom: rem(12);
  padding-left: rem(20);
  padding-right: rem(12);
  border-bottom: 1px solid #cccccc;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;

  @include mq("md") {
    font-size: rem(15);
    padding-top: rem(12);
    padding-bottom: rem(12);
    padding-left: rem(20);
    padding-right: rem(16);
  }

  &:hover {
    background-color: #f9f9f9;
  }
}

.p-sidebar__menu-icon {
  position: relative;
  width: rem(13);
  height: rem(13);
}
.p-sidebar__menu-icon::before {
  position: absolute;
  content: "";
  background: #ee819d;
  width: rem(13);
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.p-sidebar__menu-icon::after {
  position: absolute;
  content: "";
  background: #ee819d;
  width: rem(13);
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  transition: transform 0.3s ease;

  .p-sidebar__menu-item--parent.is-open & {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.p-sidebar__menu-toggleText {
  font-size: rem(14);
  color: $black;
}
.p-sidebar__submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: #f9f9f9;

  .p-sidebar__menu-item--parent.is-open & {
    max-height: rem(500);
  }
}

.p-sidebar__submenu-item {
  border-bottom: 1px solid #e8e8e8;

  &:last-child {
    border-bottom: none;
  }
}

.p-sidebar__submenu-link {
  display: block;
  padding-left: rem(34);
  padding-top: rem(14);
  padding-bottom: rem(14);
  font-size: rem(15);
  color: $black;
  text-decoration: none;
  transition: background-color 0.3s ease;
  position: relative;

  &:hover {
    background-color: #efefef;
  }
}
.p-sidebar__submenu-link::before {
  position: absolute;
  content: "";
  background: #000;
  width: rem(10);
  height: 1px;
  top: 50%;
  left: rem(18);
  transform: translateY(-50%);
}
.p-sidebar__submenu-link::after {
  position: absolute;
  content: "";
  background: url(../images/common/sidebar_arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(12);
  height: rem(12);
  top: 50%;
  transform: translateY(-50%);
  right: rem(16);
}
.p-sidebar__slider-wrapper {
  margin-top: rem(15);
}
.p-sidebar__slide-link {
  display: block;
}

.p-sidebar__slide-img {
}
.p-sidebar__slide-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}
.mt30 {
  margin-top: rem(30);
}
.p-sidebar__map-wrapper {
  margin-top: rem(15);
}

.p-sidebar__map {
}
.p-sidebar__map iframe {
  aspect-ratio: 300 / 200;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-sidebar__map-detail {
  margin-top: rem(16);
}

.p-sidebar__map-title {
  font-size: rem(14);
  color: #000;
  font-weight: 700;
}

.p-sidebar__map-text {
  font-size: rem(14);
  color: #000;
  line-height: 1.8;
}
.p-sidebar__map-text a {
  color: #3366cc;
}

// カテゴリーリスト
.p-sidebar__category-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: rem(25);

  a {
    display: block;
    font-size: rem(15);
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  // 投稿数
  .count {
    margin-left: rem(4);
  }

  // 子カテゴリー
  .children {
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      padding-left: rem(30);
      position: relative;

      &::before {
        content: "－ ";
        position: absolute;
        left: rem(15);
      }

      &:hover {
        background-color: #efefef;
      }
    }
  }
}
.p-sidebar__category-item {
  border: initial;
}
.p-sidebar__category-link {
  display: block;
  padding: rem(6) rem(15);
  font-size: rem(15);
  color: #000;
  text-decoration: none;
  transition: background-color 0.3s ease;
}