@use "../global" as *;

.p-top-news {
  background: #fcf3ef;
  padding-top: rem(50);
  padding-bottom: rem(50);
  @include mq(md) {
    padding-top: rem(118);
    padding-bottom: rem(100);
  }
}

.p-top-news__content {
  display: flex;
  flex-direction: column;
  gap: rem(30);
  @include mq(md) {
    flex-direction: row;
    gap: rem(109);
  }
}

.p-top-news__left {
  width: 100%;
  @include mq(md) {
    max-width: rem(240);
  }
}

.p-top-news__title-wrapper {
}

.p-top-news__title {
  margin-top: rem(24);
  color: #010101;
  font-weight: 700;
  font-size: rem(22);
  @include mq(md) {
    font-size: rem(30);
  }
}

.p-top-news__btn {
  display: none;
  @include mq(md) {
    display: block;
    margin-top: rem(40);
  }
}

.p-top-news__right {
  flex: 1;
}

.p-top-news__link {
  display: block;
  border-top: 1px solid #cccccc;
  padding-top: rem(20);
  padding-bottom: rem(20);
  @include mq(md) {
    padding-top: rem(22);
    padding-bottom: rem(22);
  }
}
.p-top-news__link:last-child {
  border-bottom: 1px solid #cccccc;
}

.p-top-news__category {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  @include mq(md) {
    gap: rem(16);
    align-items: center;
    flex-direction: row;
  }
}

.p-top-news__time {
  font-size: rem(17);
  color: #000;
  font-weight: 400;
}

.p-top-news__category-text {
  color: #fff;
  background: #ee819d;
  padding: rem(5) rem(10);
  display: inline-block;
  width: fit-content;
  font-size: rem(10);
}

.p-top-news__link-title {
  color: #000;
  font-weight: 400;
  margin-top: rem(12);
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(17);

    margin-top: rem(20);
  }
}
.p-top-news__btn-mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    display: none;
  }
}